### Laravel template
/vendor/
node_modules/
npm-debug.log
yarn-error.log
app
bootstrap
.idea
config
database
lang
public
resources
routes
storage
tests
vendor
.env
artisan
composer.json
composer.lock
vite.config.js
package.json
phpunit.xml
README.md

